body {
    background-color: #F9F9F9;

}

.navbar.navbar,
.navbar-default.navbar {
    background-color: transparent !important;
}

#logo {
    margin: 0 auto;
    border: 5px solid white;
    margin-bottom: 40px;
}

.form-control {
    background-image: linear-gradient(#fff, #fff), linear-gradient(#d2d2d2, #d2d2d2) !important;
    font-size: 1.2em;
    color: white;
}

#result {
    margin-top: 70px;
}

body .well,
.container .well,
.container-fluid .well,
body .jumbotron,
.container .jumbotron,
.container-fluid .jumbotron,
body .well-default,
.container .well-default,
.container-fluid .well-default,
body .jumbotron-default,
.container .jumbotron-default,
.container-fluid .jumbotron-default {
    background-color: transparent !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .0), 0 0px 0px 0 rgba(0, 0, 0, .0) !important;
}
